@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{

    --radius: 12px;
    --spacing: 1.2rem;
    --spacing-button: 2em;
    --radius-button: 2em;

    --clr-bright-orange:hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);

    --clr-transparent-white-p: hsla(0,0%,100%,0.75);
    /*paragraphs*/

    --very-light-gray: hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/

    --fw-400: 400;
    --fw-700: 700;

    --fs-400: 1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.5rem;

    --ff-lexende-deca: 'Lexend Deca', sans-serif;
    --ff-big: 'Big Shoulders Display',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-block: 2.2rem;
    position: relative;
}

main{
    margin-inline: 2.2em;
}

.card{
    padding: 2em;
}
header img{
    margin-bottom: var(--spacing);
}
header h1{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: var(--fw-700);
    font-size: var(--fs-700);
    color: var(--very-light-gray);
    margin-bottom: var(--spacing);
    font-family: var(--ff-big);
}
.card__body{
    --spacing: 3rem;
    font-size: var(--fs-600);
    margin-bottom: var(--spacing);
    color: var(--clr-transparent-white-p);
    font-family: var(--ff-lexende-deca);
}
button{
    border: none;
    padding: .8em var(--spacing-button);
    border-radius: var(--radius-button);
    font-size: var(--fs-400);
    font-weight: 700;
    background-color: var(--very-light-gray);
    font-family: var(--ff-lexende-deca)
}
.Sedans{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--clr-bright-orange);
}
.Sedans button{
    color: var(--clr-bright-orange);
}
.SUVs{
    background-color: var(--clr-dark-cyan);
}
.SUVs button{
    color: var(--clr-dark-cyan);
}
.luxury{
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--clr-very-dark-cyan);
}
.luxury button{
    color: var(--clr-very-dark-cyan);
}

@media only screen and (min-width: 475px){
    :root{
        --fs-400: 1.15rem;
        --fs-600: 1.25rem;
        --fs-700: 2.2rem; 
    }
    body{
        height: 100vh;
        display: grid;
        place-items: center;
    }
    main{
        width: 50%;
        display: table;
    }

    .card{
        display: table-cell;
    }
    header img{
        width: 25%;
        margin-block: var(--spacing);
    }
    .card{
        min-width: 30ch;
    }
    .Sedans{
        border-top-left-radius: var(--radius);
        border-top-right-radius: 0%;
        border-bottom-left-radius: var(--radius);
        background-color: var(--clr-bright-orange);
    }

    .luxury{
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
    button{
        cursor: pointer;
    }
    button:hover{
        color: var(--very-light-gray);
        outline: 2px solid var(--very-light-gray);
    }

    .Sedans button:hover{
        background-color: var(--clr-bright-orange);
    }
    .SUVs button:hover{
        background-color: var(--clr-dark-cyan);
    }
    .luxury button:hover{
        background-color: var(--clr-very-dark-cyan);
    }
}